*{
	margin:0;
	padding:0;
}

/*position*/

/*.main{
	position: relative;
	width:80%;
	margin:0 auto;
}
.left{
	width:30%;
	position: absolute;
	left:0;
	top:0;
	background-color: #23B859;
	height: 800px;
}
.right{
	width:70%;
	position: absolute;
	right:0;
	top:0;
	background-color: #DE3030;
	height: 800px;
}
p{
	position: absolute;
	top:800px;
}*/


/*float*/
/*.main{
	width:80%;
	margin:0 auto;
}
.left{
	width:30%;
	float:left;
	background-color: #23B859;
	height: 800px;
}
.right{
	width:70%;
	float:right;
	background-color: #DE3030;
	height: 800px;
}
.clear{
	clear:both;
}*/

/*flexbox*/
.main{
	display: flex;
	width:80%;
	margin:0 auto;
}
.left{
	width:30%;
	background-color: #DE3030;
	height: 800px;
}
.right{
	width:70%;
	background-color: #23B859;
	height: 800px;
}
p{
	display: none;
}